@font-face {
    font-family: 'sst';
    src: url(./Fonts/sst-cufonfonts/SSTRg.TTF);
}

@font-face {
    font-family: 'sst light';
    src: url(./Fonts/sst-cufonfonts/SSTLight.TTF);
}

@font-face {
    font-family: 'mont heavy';
    font-weight: 800;
    src: url(./Fonts/mont/Mont-HeavyDEMO.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */

html {
	font-family: 'SST', sans-serif;
	font-size: 16px;
}

body { 
    overflow: hidden;
} 

.image-container {
    overflow: hidden;
}

video:focus {
    outline: none;
}

video {
    outline: none;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.button {
    background-color: #0072ce;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 32px;
    display: inline-block;
}

.button:hover {
    background-color: white;
    color: #0072ce;
    transition: all 0.2s ease-in-out;
}

/* Navigation */

nav .mobile {
	display: flex;
	height: 60px;
	justify-content: space-between;
	z-index: 5;
	align-items: center;
}

nav button.menu {
	background-image: url('./Images/Icons/Hamburger.png');
	background-size: cover;
	height: 60px;
	width: 48px;
	border: none;
    cursor: pointer;
}

#menuDropBtn:focus, #searchDropBtn:focus, #searchBackBtn:focus, #siteDropBtn:focus, #siteBackBtn:focus {
	box-shadow: inset 0px 0px 5px 1px #0072ce;
}

nav button.search {
	background-image: url('./Images/Icons/SearchIcon.png');
	background-size: cover;
	height: 60px;
	width: 48px;
	border: none;
    cursor: pointer;
}

nav .logo {
	justify-self: center;
	height: 60px;
}

nav .button {
	color: white;
	background-color: black;
	margin: 10px;
	padding: 10px 24px;
	font-size: 0.875rem;
}

nav .button:hover {
    background-color: #606060;
    color: white;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.8) 43.07%,black 100%);
}

/* switches overlay on/off */

.onoff {
    display: block;
}

.searchDropdown {
    top: -120px;
    position: absolute;
    width: 100%;
    z-index: 3;
    transition: all 0.3s ease;
}

.menuDropdown {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 100%;
    top: 60px;
    box-shadow: inset 0 10px 5px -5px #cecece;
}

/* .show linked to JS */

.show {
    top: 0px;
}

/* Main Menu Dropdown */

.menuDropdown menu {
    margin-top: 36px;
}

.menuDropdown li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menuDropdown img {
    height: 46px;
    margin-right: 16px;
}

.menuDropdown i {
    margin: 0px 20px 0px auto;
}

/* Side Menus */

.sidemenu {
    position: absolute;
    top: 60px;
    z-index: 2;
    width: calc(100vw - 68.75px)
}

.sidemenu menu {
    list-style-type: none;  
}

.sidemenu i {
    transform: rotate(90deg);
    margin-right: 16px;
}

.sidemenu .title {
    margin: 40px 20px;
}

.sidemenu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sidemenu img {
    height: 100px;
    margin: 0px 30px 20px;
    cursor: pointer;
}

.sidemenu hr {
    width: 85%;
    height: 1px;
    border: none;
    background-color: #cecece;
}

.sidemenu .bottom {
    width: 100%;
}

.sidemenu a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    line-height: 2;
    font-size: 0.875rem;
}

#gamesMenu, #hardwareMenu, #servicesMenu, #newsMenu, #shopMenu, #supportMenu {
    position: absolute;
    background-color: white;
    width: calc(100vw - 68.75px);
    box-shadow: inset 0 10px 5px -5px #cecece, 0px 12px 10px 5px #cecece;
}

.gamesMenu, .hardwareMenu, .servicesMenu, .newsMenu, .shopMenu, .supportMenu {
    right: -110vw;
    transition: all 0.5s ease;
}

.slidein {
    right: -68.75px;
}

#gamesMenu {
    height: 100vh;
}

.gamesMenu .title {
    cursor: pointer;
}

/* Search Dropdown */

.searchDropdown .top {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 14px;
}

.searchDropdown i {
    padding: 7.5px;
}

.searchDropdown button {
    all: unset;
    cursor: pointer;
}

.searchDropdown .fa-chevron-left {
    padding: 12px;
}

.searchDropdown .fa-search {
    background-color: #F5F5F5;
}

.searchDropdown input[type=text] {
    padding: 6px;
    font-size: 16px;
    border: none;
    background-color: #F5F5F5;
  }

.searchDropdown .bottom {
    background-color: white;
}

#siteDropBtn {
    padding: 12px;
    width: 140px;
    margin-left: 48px;
    font-size: 0.75rem;
    box-sizing: border-box;
    display: flex;
}

.siteDropdown {
    display: none;
    margin-top: -38px;
    position: absolute;
    background-color: white;
    width: 140px;
    margin-left: 48px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.siteDropdown a {
    float: none;
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.75rem;
}

/* .focus linked to JS */

#playStationCom:focus, #playStationStore:focus, .siteDropdown .focus {
    color: white;
    background-color: #0172ce;
    box-shadow: inset 0px 0px 3px 1px white;
}

button#siteDropdown i.fa-chevron-down {
    padding: 0px 0px 0px 5px;
}

/* .display linked to JS */
.display {
    display: block;
}



/* Footer */

footer {
    background-color: #00439c;
    position: relative;
    bottom: 0;
    margin-top: auto;
}

footer .content {
    padding: 3%;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 15%;
}

footer small {
    width: 50%;
}

@media only screen and (max-width: 768px) {
    footer img {
        width: 25%;
    }
    footer small {
        width: 70%
    }
}

@media only screen and (max-width: 480px) {
    footer {
        font-size: 0.75rem;
    }
}